@CHARSET "UTF-8";

.pro{
	height:8px;
	width:500px;
	background-color:gray;
	cursor:pointer;
}
.playball{
	height:8px;
	width:8px;
	background-color:orange;
	position:relative;
}
.time{
	width:500px;
	height:20px;
	border:1px solid black;
}
.musicImg{
	width:500px;
	text-align:center
}
.hide{
	width:500px;
	height:100px;
	text-align:center;
	display:none;
	border:solid 2px black;
}
.pull{
	width:500px;
	background-color:#0af5f5;
	text-align:center;
	border:solid 2px black;
}